<div id="auszug_container">
  <h1>Bisher getätigte Aktionen:</h1>
  <table id="table">
    <tr>
      <th>Absender</th>
      <th>Empfänger</th>
      <th>Geld Betrag</th>
      <th>Beschreibung</th>
    </tr>
    <% @konto.ueberweisungen.each do |ueberweisung| %>
      <tr>
        <td>
          <%= ueberweisung.konto %>
        </td>
        <td>
          <%= ueberweisung.ziel_konto_nr %>
        </td>
        <td>
          <%= ueberweisung.betrag %>
        </td>
        <td>
          <%= ueberweisung.verwendungszweck %>
        </td>
      </tr>
    <% end %>
  </table>
  <p>Ihr Kontostand beträgt: <%=@kontostand%>€</p>
  <button id="cancel_btn"><a href="/logged_in_index" id="cancel_btn_link">Back</a></button>
</div>
